.dialog-instruction{
    padding: 0 20px;
}

.file-detail{
    padding: 10px 30px;
}

.button-wrapper{
    display: flex;
    justify-content: center;
}
.button-wrapper button{
    margin: auto 10px;
}