.container{
    margin: 0 20px;
    height: 100%;
}

.container .mat-elevation-z8{
    height: 68%;
}
.filter-wrapper{
    background-color: white;
    display: flex;
}
table {
    width: 100%;
    height: 100%;
}

.mat-mdc-form-field {
font-size: 14px;
width: 100%;
}

td, th {
    
    width: 25%;
}

.apply-filter-button{
    margin: 10px;
}